*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// default root varible
:root {
  --primary-color: #3b82f6;

  --black-color: #000;
  --white-color: #fff;

  --grey-color-01: #f9fafb;
  --grey-color-02: #f3f4f6;
  --grey-color-03: #e5e7eb;
  --grey-color-04: #d1d5db;
  --grey-color-05: #9ca3af;
  --grey-color-06: #6b7280;
  --grey-color-07: #4b5563;
  --grey-color-08: #374151;
  --grey-color-09: #1f2937;
  --grey-color-10: #111827;

  --background-color: var(--grey-color-10);
  --text-color: var(--grey-color-01);
}

// font default
@import url("https://fonts.googleapis.com/css?family=Poppins:400");

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--background-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--text-color);
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

// section
.section {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  transform: translateY(-100%);
}
.active {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

// controls btn
.controls {
  position: fixed;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .control {
    background-color: var(--grey-color-06);
    color: var(--grey-color-03);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: transform 0.1s ease-in-out;
    i {
      font-size: 1rem;
    }
    &:active {
      transform: translateY(-2px);
    }
  }
  .active {
    background-color: var(--primary-color);
  }
}

// header
.sec-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  .left-header {
    position: relative;

    .shape {
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 65% 0, 75% 100%, 0 100%);
      background-color: var(--primary-color);
    }
    .header-img {
      background-color: rebeccapurple;
      height: 90%;
      width: 60%;
      position: absolute;
      top: 5%;
      left: 25%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        img {
          filter: grayscale(0);
        }
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        filter: grayscale(100%);
        transition: all 0.4s ease-in-out;
      }
    }
  }
  .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20rem;
    h2 {
      margin-bottom: 1rem;
      span {
        color: var(--primary-color);
      }
    }
    p {
      line-height: 2rem;
      margin-bottom: 1rem;
    }
  }
}
.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3rem;
  padding: 3rem 10rem;
  .about-info {
    display: flex;
    flex-direction: column;
    h4 {
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 2rem;
      padding-left: 2rem;
    }
  }
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    .project {
      border: 1px solid var(--grey-color-08);
      padding: 1rem;
      transition: all 0.5s ease-in-out;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        border-color: var(--primary-color);
        transform: translateY(-5px);
      }
      h2 {
        color: var(--primary-color);
        position: relative;
      }
      h2::after {
        content: "";
        height: 2px;
        width: 2.5rem;
        background-color: var(--grey-color-08);
        position: absolute;
        top: 125%;
        left: 0;
      }
      p {
        padding-left: 3rem;
        line-height: 2rem;
      }
    }
  }
}
// about skill
.about-skills {
  margin-top: 3rem;
  padding: 3rem 10rem;

  h4 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    .skill {
      .percent-container {
        display: flex;
        align-items: center;
        .percent {
          width: 100%;
          height: 5px;
          background-color: var(--grey-color-06);
          position: relative;
        }
        .percent::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;

          background-color: var(--primary-color);
        }
        .html::after {
          width: 80%;
        }
        .css::after {
          width: 90%;
        }
        .javascript::after {
          width: 55%;
        }
        .react::after {
          width: 85%;
        }
      }
    }
  }
}
// time line
.about-timeline {
  margin-top: 3rem;
  padding: 3rem 10rem;
  h4 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .timelines {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    .timeline {
      display: flex;
      align-items: flex-start;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        padding: 1rem;
        border-radius: 50%;
        flex-direction: column;
        position: relative;
        i {
          color: var(--text-color);
        }
        &::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          width: 2px;
          height: 300%;
          background-color: var(--grey-color-08);
        }
      }
      .info {
        margin-left: 1rem;
        p {
          margin-bottom: 1rem;
        }
        h4 {
          margin-bottom: 1rem;
          span {
            color: var(--grey-color-06);
          }
        }
      }
    }
  }
}

// portfolio
.portfolio-container {
  margin-top: 1rem;
  .portfolio-info {
    text-align: center;
    text-transform: capitalize;
  }
  .portfolios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
    max-width: 900px;
    margin-top: 3rem;
    .portfolio {
      height: 300px;
      overflow: hidden;
      border-radius: 10px;
      position: relative;

      &:hover {
        .portfolio-data {
          opacity: 1;
          transform: scale(1);
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .portfolio-data {
        position: absolute;
        background-color: var(--primary-color);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        transform: scale(0);
        border-radius: 10px;
        .portfolio-icons {
          margin-top: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .portfolio-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background-color: var(--grey-color-10);
            margin: 0 1rem;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            i {
              color: var(--grey-color-01);
              transition: all 0.5s ease-in-out;
            }
            &:hover {
              background-color: var(--grey-color-01);
              i {
                color: var(--grey-color-10);
              }
            }
          }
        }
      }
    }
  }
}
// main btn
.main-btn {
  display: flex;
  align-self: flex-start;
  border: 1px solid var(--primary-color);
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  h5 {
    padding: 0 1rem;
  }
  .main-btn-icon {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 30px;
    display: flex;
  }
  &::before {
    content: "";
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
  &:hover::before {
    transform: translateX(0);
  }
}
// main title
.main-title {
  text-align: center;
  position: relative;
  margin-top: 1rem;
  h1 {
    span {
      color: var(--primary-color);
    }
  }
  h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    color: var(--grey-color-08);
    z-index: -1;
  }
}

// media dynamic screen
@import "./media";
